/*
//
//  ip_ = idaproject
//
*/

.ip_btn {
  width: 100%;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  color: #b4b4b4;
  background: #eee;
  border: none;
  border-radius: 10px;
}

.ip_btn_success {
  color: #fff;
  background: #7bae73;
  cursor: pointer;

  &:hover {
    background: #a1ca9b;
  }
}
