/*
//
//  ic_ = item_card
//
*/

.item_card {
  position: relative;
  width: 332px;
  height: 423px;
  font-size: 16px;
  color: #3f3f3f;
  background: #fffefb;
  border-radius: 4px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .04), 0 6px 10px rgba(0, 0, 0, .02);

  &:hover {
    & .ic_btn_del {
      display: flex;
    }
  }
}

.ic_img {
  display: block;
  height: 200px;
}

.ic_content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  max-height: 223px;
  padding: 16px;
}

.ic_title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

.ic_desc {
  flex: 1 1 auto;
  overflow: hidden;
  font-weight: 400;
  line-height: 20px;
}

.ic_price {
  font-weight: 600;
  font-size: 24px;
}

.ic_btn_del {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ff8484;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.ic_btn_del_icon {
  width: 100%;
  max-height: 16px;
}
