/*
//  ip_ = idaproject
//  ipf_ = ip_form
*/

.ip_form {
  padding: 19px 24px;
  background: #fffefb;
  border-radius: 4px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .04), 0 6px 10px rgba(0, 0, 0, .02);
}

.ipf_group {
  position: relative;
  display: block;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  &.ipf_group_strong {
    margin-bottom: 24px;
  }
}

.ip_label {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  font-size: 10px;
  color: #49485e;

  &.ip_label_req {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -5px;
      width: 4px;
      height: 4px;
      background: #ff8484;
      border-radius: 4px;
    }
  }
}

.ip_input {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 0 16px;
  line-height: 36px;
  background: #fffefb;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);

  &:focus {
    border-color: #3f3f3f;
    outline: none;
  }

  &.ip_input_error {
    border-color: #ff8484;
  }
}

.ip_error_msg {
  position: absolute;
  bottom: -14px;
  left: 0;
  font-weight: 400;
  font-size: 8px;
  color: #ff8484;
}

.ip_textarea {
  box-sizing: border-box;
  width: 100%;
  height: 109px;
  padding: 10px 16px;
  line-height: 16px;
  background: #fffefb;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  resize: none;

  &.ip_textarea_error {
    border-color: #ff8484;
  }

  &:focus {
    border: 1px solid #3f3f3f;
    outline: none;
  }
}
