body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #3f3f3f;
  background-color: #faf9f7;
}

h1, .ip_h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  font-family: "Source Sans Pro";
  color: #3f3f3f;
}
