@import "../variable.scss";

.header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;
}

.header_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 32px 0 14px;
}

.dropdown_filter {
  position: relative;
  padding: 10px 16px;
  color: #b4b4b4;
  background: #fffefb;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  cursor: default;

  &:hover {
    border-radius: 4px 4px 0 0;

    .df_content {
      display: block;
    }
  }

  .df_content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    background-color: #fffefb;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }

  .df_item {
    padding: 10px 16px;
    color: #49485e;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    }
  }

  .df_icon_arrow {
    width: 5px;
    height: 5px;
  }
}

@media screen and (max-width: $media_screen_xl) {
  .header {
    max-width: $media_screen_l;
  }
}

@media screen and (max-width: $media_screen_l) {
  .header {
    max-width: $media_screen_m;
  }
}
