@import "../variable.scss";

.main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 0 32px;
}

.main_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 (-$content_item_margin);

  .mc_item {
    margin: 0 $content_item_margin $content_item_margin_bottom;
  }
}

@media screen and (max-width: $media_screen_xl) {
  .main {
    max-width: $media_screen_l;
  }
}

@media screen and (max-width: $media_screen_l) {
  .main {
    max-width: $media_screen_m;
  }
}
