$default_margin: 16px;

$layout_margin: 32px;
$header_bottom_margin: $layout_margin/2;

$content_item_margin: 8px;
$content_item_margin_bottom: $content_item_margin * 2;

$media_screen_xl: 1440px + 20px;
$media_screen_l: 1092px + 20px;
$media_screen_m: 720px + 20px;
